@page "/pokemon"
@using TrainerPokedex.Shared.Models.Pokemon
@using Microsoft.AspNetCore.Authorization
@inject HttpClient _http
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
<h3>Pokemon</h3>
<a href="/pokemon/create">Create a Pokemon</a>
@if (_pokemon == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Pokedex Entry#</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pokemon in _pokemon)
            {
                <tr>
                    <td>@pokemon.DexNumber</td>
                    <td>@pokemon.Name</td>
                    <td>@*Links go here*@</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PokemonListItem> _pokemon;

    protected override async Task OnInitializedAsync()
    {
        _pokemon = await _http.GetFromJsonAsync<List<PokemonListItem>>("/api/pokemon");
    }
}