@page "/pokemon"
@using TrainerPokedex.Shared.Models.Pokemon
@using Microsoft.AspNetCore.Authorization
@inject HttpClient _http
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
<h3>Pokemon</h3>
<a href="/pokemon/create">Create a Pokemon</a>
@if (_pokemon == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pokemon in _pokemon)
        {
            <tr>
                <td>@pokemon.Id</td>
                <td>@pokemon.Name</td>
                <td>
                    <a href=@($"pokemon/{pokemon.Id}") class="btn btn-info"><span class="oi oi-menu"></span>  Details</a> |
                    <a href=@($"pokemon/edit/{pokemon.Id}") class="btn btn-info"><span class="oi oi-pencil"></span>  Edit</a> |
                    <a href=@($"pokemon/delete/{pokemon.Id}") class="btn btn-info"><span class="oi oi-trash"></span>  Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<PokemonListItem> _pokemon;

    protected override async Task OnInitializedAsync()
    {
        _pokemon = await _http.GetFromJsonAsync<List<PokemonListItem>>("/api/pokemon");
    }

}