@page "/region"
@using TrainerPokedex.Shared.Models.Region
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient _http
<h3>Regions</h3>
<a href="/region/create">Create a region</a>
@if (_regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var region in _regions)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Name</td>
                <td>
                    <a href=@($"region/{region.Id}")>Details</a> | 
                    <a href=@($"region/edit/{region.Id}")>Edit</a> |
                    <a href=@($"region/delete/{region.Id}")>Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    private List<RegionListItem> _regions = new List<RegionListItem>();

    protected override async Task OnInitializedAsync()
    {
        _regions = await _http.GetFromJsonAsync<List<RegionListItem>>("api/region");
    }
}